# macOS system files
.DS_Store

# Python
__pycache__/

# Virtual environments
.venv/
env/
venv/

# IDEs and editors
.vscode/
.idea/

# MLFLow
mlruns/

# Personal/local config files
checkpoints/
fine_tuned_model/
fine_tuning_data/
embeddings.pkl
faiss_metadata.pkl
faiss_index.bin

