# macOS system files
.DS_Store

# Python
__pycache__/

# Virtual environments
.venv/
env/
venv/

# IDEs and editors
.vscode/
.idea/

# MLFLow
mlruns/

# Personal/local config files
arm_banks.json
arm_banks_Q&A.json
checkpoints/
fine_tuned_model/
embeddings.pkl
faiss_metadata.pkl
faiss_index.bin

